streamlit
opencv-python-headless
numpy
pillow
phidata
agno
ddgs
duckduckgo-search
google-generativeai
google-genai
openai
python-dotenv
langchain
langchain-community
langchain-openai
groq
langchain-groq
langchain_google_genai
scikit-image
pytesseract
googlesearch-python
pycountry
pypdf
chromadb
